{{form_start(form)}}
    {{form_row(form.name)}}

  <div>
    {{form_widget(form.funder)}}
    {{form_label(form.funder)}}
  </div>

  <br />

  <button class="btn" type="submit" name="button">Add</button>

{{form_end(form)}}
