  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Navigation</span>

          <ul class="light">
            <li><a href="{{path('budget_codes')}}">Budget Codes</a> </li>

            <li><a  href="{{path('customers')}}">Customers</a> </li>

            <li><a href="{{path('add_invoice')}}">Add Invoice</a></li>

            <li><a href="{{path('add_expense')}}">Add Expense</a></li>

            <li><a href="{{path('configure_apps')}}">Configure Apps</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
